<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="JsonConnection" connectionString="Uri=https://raw.githubusercontent.com/DevExpress-Examples/DataSources/master/JSON/customers.json"
            providerName="JsonSourceProvider" />
    </connectionStrings>
</configuration>